@(title: String)

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Force the browser to run in IE8 compatible mode -->
<!-- meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/ -->
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta name="description" content="Consulting Inc Services" />
<meta name="keywords" content="Consulting, Services" />

<title>@title</title>

<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<!-- CSS -->
<link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>

<link rel="stylesheet" media="screen" href='@routes.Assets.at("bootstrap-datepicker/css/datepicker3.css")'>

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/custom_layout.css")'>

<!-- Javascript -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>

<script type='text/javascript' src='@routes.Assets.at("bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/custom_handler.js")'></script>