@(services: List[Service])

@import helper._
@import views.html.common._
@import models._

@main("Consulting Inc Services"){
	
	<div class="page-header">
		<h2>All Services</h2>
	</div>
	
	<div class="panel panel-default">
		<table>
			<thead>
				<tr>
					<th>Code</th>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				@for(service <- services){
					<tr>
						<td><a href="@routes.ServiceController.editService(service.code)">@service.code</a></td>
						<td>@service.description</td>
						<td class="col-right">@{"%.2f".format(service.amount)}</td>
						<td><button type="button" class="btn-info" onclick="window.location='@routes.ServiceController.editService(service.code)';" value="edit"> Edit</button></td>
						<td><button type="button" class="btn-danger" onclick="del('@routes.ServiceController.delete(service.code)');" value="delete">Delete</button></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
	<div class="btn-group">
		<button onclick="window.location='@routes.ServiceController.addService()';" value="add">Add New</button>
	</div>
}