@(customerList : List[Customer])

@import views.html.common._
@import models._

@main("Consulting Services Inc"){
	
	<div class="page-header">
		<h2>All Customers</h2>
	</div>
	
	<div class="table table-striped tabled-bordered list-view-table">
		<table>
			<thead>
				<tr class="list-view-header">
					<th>Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Postcode</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			
			</thead>
			<tbody>
				@for(customer <- customerList){
					<tr>
						<td>@customer.id</td>
						<td><a href="@routes.CustomerController.editCustomer(customer.id)">@customer.name</a>
						<td>@customer.address</td>
						<td>@customer.city</td>
						<td>@customer.state</td>
						<td>@customer.postcode</td>
						<td>@customer.phone</td>
						<td>@customer.email</td>
						<td>
							<button type="button" class="btn-info"
							onclick="window.location='@routes.CustomerController.editCustomer(customer.id)';"
							value="edit">Edit</button>
							<button type="button" class="btn-danger"
							onclick="del('@routes.CustomerController.delete(customer.id)');"
							value="delete">Delete</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="btn-group">
		<div>
			<div class="btn btn-success" 
			onclick="window.location='@routes.CustomerController.addCustomer()';"
			value="add">Add</div>
		</div>
	</div>
		
}